<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kooola.cloudbookmark.dao.BookMarkMapper">
    <resultMap id="BaseResultMap" type="com.kooola.cloudbookmark.domain.BookMark">
        <id column="bmid" jdbcType="INTEGER" property="bmid" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
        <result column="host" jdbcType="VARCHAR" property="host" />
        <result column="point_praise_num" jdbcType="INTEGER" property="pointPraiseNum" />
        <result column="create_time" jdbcType="INTEGER" property="createTime" />
        <result column="logicdelete" jdbcType="INTEGER" property="logicdelete" />
        <result column="isread" jdbcType="INTEGER" property="isRead" />
    </resultMap>

    <sql id="Base_Column_List">
        bmid, uid, url, title, description, logo_url, host, point_praise_num, create_time, logicdelete, isread
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_bookmark
        where bmid = #{bmid,jdbcType=INTEGER} and logicdelete = 0
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_bookmark
        where bmid = #{bmid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.kooola.cloudbookmark.domain.BookMark" useGeneratedKeys="true" keyProperty="bmid">
        insert into t_bookmark (uid, url, title, description, logo_url, host,point_praise_num,
        create_time, logicdelete, isread)
        values (#{uid,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}, #{logoUrl,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR},
        #{pointPraiseNum,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{logicdelete, jdbcType=INTEGER},
        #{isRead,jdbcType=INTEGER})
    </insert>

    <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_bookmark
        where uid = #{uid,jdbcType=INTEGER} and logicdelete = 0
    </select>

    <update id="updatePointPraiseById" parameterType="com.kooola.cloudbookmark.domain.BookMark">
        update t_bookmark
        set point_praise_num = #{pointPraiseNum, jdbcType=INTEGER}
        where bmid = #{bmid,jdbcType=INTEGER}
    </update>

    <update id="updateIsReadById" parameterType="com.kooola.cloudbookmark.domain.BookMark">
        update t_bookmark
        set isread = #{isRead, jdbcType=INTEGER}
        where bmid = #{bmid,jdbcType=INTEGER}
    </update>

</mapper>